
$primary-color: yellow;
$secundary-color: blue;

$font-weight: (
    "Regular": 400,
    "Medium": 500,
    "Bold": 700 
);

$font-family: (
    "Arial": Arial,
    "Courier-New": 'Courier New',
    "Cambria": Cambria,
    "Georgia": Georgia,
    "Impact": Impact
)

